<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DW-Education</title>

    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bar">
        <div class="container-fluid navSpace bar">
            <button class="navbar-toggler bg-light navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="home">Home</a>
                        </button>
                    </li>
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="about">About</a>
                        </button>
                    </li>
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="education">Education</a>
                        </button>
                    </li>
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="interests">Interests</a>
                        </button>
                    </li>
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="contact">Contact Info</a>
                        </button>
                    </li>
                </ul>
            </div>
            <span class="navTitle" title="Welcome">Portfolio: Daniel White</span>
        </div>
    </nav>

    <div>
        <h1 class="pageTitle">Academic History</h1>
        <hr class="breaker">
        <!--List format-->
        <dl>
            <dt id="masDesc">Texas A&M University San Antonio (2019-Present)</dt>
                <dd>
                    <p id="desc">
                        This is the university I decided to begin my higher education at and it is where further progress 
                        is made on said education. As of this being written, I am a Senior in my fourth and final year of
                        my stint for a Bachelor's of Science in Computer Science.  
                    </p>
                </dd>
            <dt id="masDesc">Reagan High School (2015-2019)</dt>
                <dd>
                    <p id="desc">
                        Although this is technically the second  high school I have attended, it is the only one where I was also in 
                        for the corresponding grade years, 9-12. It also served as the natural successor to Lopez MS. I found much 
                        enjoyment in the JROTC division within the school after joining on a whim in Sophomore year.
                    </p>
                </dd>
            <dt id="masDesc">Primary Education</dt>
                <dt id="subDesc">Lopez Middle School</dt>
                    <dd>
                        <p id="desc">
                            This was the first school I attended here in San Antonio. It is also the first location whose
                            range of grades I managed to clear in their entirety as my family had stopped moving due to 
                            military work.
                        </p>                        
                    </dd>
                <dt id="subDesc">AFNORTH</dt>
                    <dd>
                        <p id="desc">
                            Second school I attended for grades three and four. AFNORTH is an international school
                            located in Brunnsum, Netherlands. It is close the the city's NATO base and it
                            serves as school for the children of locally occupying NATO soldiers and employees.
                            As such, the primary backgrounds of children present at the school were either originally
                            from the UK, Canada, or the US.
                            The schoolhouse is also layed out such that there are grades 1-12 within the same building.
                        </p>
                    </dd>
                <dt id="subDesc">Stockwell Elementary</dt>
                    <dd>
                        <p id="desc">
                            First elementary school I attended in Bossier City, Louisiana. I was only there for the first 
                            and second grades and then shortly again for the fifth grade.
                        </p>                        
                    </dd>
        </dl>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>