<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DW-Home</title>

    <link href="../css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bar">
        <div class="container-fluid navSpace bar">
            <button class="navbar-toggler bg-light navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" aria-current="page" href="home">Home</a>
                        </button>
                    </li>
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="about">About</a>
                        </button>
                    </li>
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="education">Education</a>
                        </button>
                    </li>
                    <!--make interests a drop down-->
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="interests">Interests</a>
                        </button>
                    </li>
                    
                    <li class="nav-item active">
                        <button class="navBtn btn-sm">
                            <a class="nav-link active" href="contact">Contact Info</a>
                        </button>
                    </li>
                </ul>
            </div>
            <span class="navTitle" title="Welcome">Portfolio: Daniel White</span>
        </div>
    </nav>

    <h1 class="pageTitle">Homepage</h1>
    <hr class="breaker">
    <!--put a 2xn grid of cool images with titles here. hyperlink htem even-->
    <div class="container">
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6D3gntAlrfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Something pleasing for the ears.</h3> 
        </center>    
    </div>
    <hr class="breaker">

    <h2>News about me</h2>
    <p>This is where i'll try to make some form of update log or journal. Stay tuned.</p>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>